<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: title}) %>
<% 
const redirectTo = action === "/register/register" ? "/" : "/adminPanel"; 
const submitText = action === "/register/register" ? "Zarejestruj" : "Edytuj";
const trueAction = action === "/register/register" ? "/register/register" : "/adminPanel/editUser/" + id
%>
<body>
    <div class="cssMain">
        <form action="<%= trueAction %>" method="post">
            <div style="color: red; display: <%= errorLogin ? 'block' : 'none' %>"><%= errorLogin %></div>
            <label>Nazwa użytkownika: </label><input type="text" name="login" value="<%= login %>" required><br>
            <div style="color: red; display: <%= errorPassword ? 'block' : 'none' %>"><%= errorPassword %></div>
            <label>Hasło uzytkownika: </label><input type="password" name="password" value="<%= password %>" required><br>
            <div style="color: red; display: <%= errorPasswordAgain ? 'block' : 'none' %>"><%= errorPasswordAgain %></div>
            <label>Powtórz hasło użytkownika: </label><input type="password" name="passwordAgain" value="<%= passwordAgain %>" required><br>
            <% if (action === "/adminPanel") {%>
            <label>Administrator ?</label><input type="checkbox" name="isAdmin"><br>
            <% } %>
            <button type="submit"><%= submitText %></button>
        </form>

        
        <a href="<%= redirectTo %>">powrót</a>
    </div>
</body>
</html>